[Unit]
Description=JeebsAI service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/JeebsAI
EnvironmentFile=/etc/jeebs.env
ExecStart=/root/JeebsAI/target/release/jeebs
Restart=always
RestartSec=5
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
